@model Account

@{
    ViewData["Title"] = "LogInPage";
}

<h1>LogInPage</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="SignIn">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for = "Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for ="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <a asp-action="AccountCreation">Register Account</a>
    </div>
</div>

<div>
    <a asp-action="AccountList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
