@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<h1>@ViewData["Title"]</h1>

<div class="accordion" id="FAQCollapse">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What is Kiwi Corp?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        Kiwi Corp is a company created by four passionate, young individuals that wish to bring a positive change to the online marketplace sphere.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        How do I list an item for sale on Kiwi Store?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        Navigate to the create listing button and fill out all of the necessary information!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Can I offer local pickup for my Kiwi Store listings?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        Local Pickup is not offered currently however we are looking for a solution in the future!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        What is Kiwi Store's buyer protection policy?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        Our policy is buyer first! If you are having an issue with your order, file a claim and we will do our best to assist you!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        How long does it typically take to receive items purchased on Kiwi Store?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        Item shipment will vary from buyer to buyer. Generally you will see your item arrive within 2 business weeks of purchase.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Can I create multiple Kiwi Store Account?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        There is no need to create multiple account on Kiwi Store! Every account can be used for buying and selling on Kiwi Store.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        What is the Kiwi Store referral program?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
        When a user creates an account, they will receive a referral code that they can share with a new user. When the new user applies the code at the time of their account creation, the referring as well as the referred user will get benefits when the referred user completes a transaction.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        What is Kiwi Store's policy on prohibited items?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
       If your item is deemed to be prohibited, you will receive a two-week suspension from creating listings on the platform. If your account has multiple citations, you are at risk of being banned from the platform.
      </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
       What payment methods are accepted on Kiwi Store?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
      Credit Card, PayPal, and Venmo are all accepted forms of payment on Kiwi Store.
      </div>
    </div>
     <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
       Is Kiwi Store a safe platform for purchasing and selling items?
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#FAQCollapse">
      <div class="accordion-body">
      Yes, Kiwi Store is a safe platform for purchasing and selling items.
      </div>
    </div>
</div>