html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #D1FFBD;
}


.custom-navbar-color {
    background-color: #50C878;
}

.navbar-nav > li > a {
    font-family: 'Century Gothic';
    font-weight: bold;
}

h2 {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #960018;
}

h1 {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #960018;
}

h4 {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #960018;
    margin-top: 20px;
    margin-bottom:20px;
}

.accordion-button {
    color: #960018;
}

    .accordion-button:hover,
    .accordion-button:active,
    .accordion-button:focus {
        color: #960018;
    }

.accordion-body {
    color: #960018;
}